* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

section {
  /*width: 100vw;*/
  min-height: 105vh;
  display: flex;
  justify-content: center;
  background-color: white;
}


img {
  width: 400px;
  margin-bottom: 50px;
  border: 12px solid Black;
}

.starscol h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 2;  
}

.starscol h2 {
  font-size: 2.2rem;
}
.starscol h3 {
  font-size: 1.2rem;
}


p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: White;
}

a:hover {
  color: #b3b3b3;
}

form {
  line-height: 2;
  font-size: 1.25rem;
}

i {
  font-size: 1.2rem;
  margin: 5px;
}

.phone {
  border-radius:12%;
  border: 6px black solid;
}

/* Navbar */

nav {
  height: 64px;
  width: 100%;
  padding: 20px 10%;
  background-color: #121212;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 30px;
}

#titleNav {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
}

/* Home Section */



.home {
  color: White;
  background: url(images/background.png) no-repeat;
  background-size: cover;
  
}

.home div {
  transform: translateY(64px);
  margin: 5%;
  width: 35rem;
}


.home div h3 {
  margin-top: 10%;
}

.home-phone {
  position: absolute;
  width: 25rem;
  margin-top: 20%;
  right:0;
}

.button {
	background-color:#1d1d1d;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	font-size:1.5rem;
	padding:16px 31px;
	text-decoration:none;
  margin: 5% 5% 5% 0;
  
}

.button:hover {
	background-color:#2e2e2e;
}

.button:active {
	position:relative;
	top:1px;
}


/* why Section */

.why {
  position: relative;
  z-index: 1;
}

.why div {
  margin: 10%;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius:28px;
  line-height: 1.5;
  filter: drop-shadow(16px 16px 10px #d4d6d5);
}

/* Functionality Section */

.flex-div {
  margin: 5% auto;
  padding: 20px;
  border-radius:28px;
  filter: drop-shadow(16px 16px 10px #c5c5c5);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.flex-div:hover {
  transform: translateY(-20px);
}

.functionality {
  display: block;
  background-color: #51577e;
  padding-top: 50px;
  text-align: center;
  min-height: 60vh;
  color: white;
}

.functionality-container {
  display: flex;
  margin: 0 8%;
}

.functionality-container div {
  background-color: #383d5b;
  filter: drop-shadow(16px 16px 10px #1f2233);
  color: white;
  width: 20%;
}

.functionality-container div h2 {
  font-size: 1.4rem;
}

.functionality-container div img {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: White;

}

/* Team Section */

.team {
  display: block;
  padding-top: 50px;
  text-align: center;
  min-height: 80vh;
}

.team-container {
  display: flex;
  margin: 0 8%;
}

.team-container div {
  background-color: #f2f2f2;
  width: 15%;
}

.flex-div p {
  font-size: 1.2rem;
}

.team-container div img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: White;

}

/* Download Section */
.download {
  background-color: #f2f2f2;
  min-height: 80vh;
}

.download div {
  margin: 5%;
}

.download div h2 {
  font-weight: lighter;
}

.welcome-phone {
  width:80%;
  border-radius: 40px;
  filter: drop-shadow(16px 16px 10px #c5c5c5);

}

/* Footer */

footer {
  padding-top: 25px;
  height: 125px;
  width: 100%;
  background-color: #121212;
  color: White;
  text-align: center;
}

footer p {
  font-size: 1rem;
  line-height: 3;
}


 
@media only screen and (max-width: 991px) {
   

.home div {
  transform: translateY(64px);
  margin: 4rem;
  max-width: 30rem;
}
.home-phone {  
   /* position: relative;*/
  width: 20rem; 
  margin-top: 20%;
}
  
.why-phone {  
  /* position: relative;*/
 width: 20rem; 
}

.why div {
  margin: 10% 5%;
  padding: 30px;
}

.starscol h1 {
  font-size:3em;
}

.starscol p {
  font-size:1.2em;
}

} 

@media only screen and (max-width: 768px) {
  
.starscol h1 {
  font-size:3em;
}
.starscol h2 {
  font-size:2em;
}
.starscol h3 {
  font-size:1em;
}

.starscol p {
  font-size:1em;
}

.home div {
  transform: translateY(64px);
  margin: 4rem;
  max-width: 20rem;
}
.why div {
  margin: 4rem;
  max-width: 20rem;
}

.home-phone {  
  width: 15rem; 
  margin-top: 20%;
}
  
.why-phone {  
  /* position: relative;*/
 width: 15rem; 
}

.why div {
  margin: 10% 2%;
  padding: 30px;
}

.button {
  font-size: 1em;
}

.functionality-container {
  flex-direction: column;
}

.functionality-container div {
  width: 15rem;
}

.team-container {
  flex-direction: column;
}

.team-container div {
  width: 15rem;
}
}
 
@media only screen and (max-width: 576px) {
section {
  flex-direction: column;
  margin-bottom: 5%;
}

.starscol h1 {
  font-size:2.5em;
}
.starscol h2 {
  font-size:1.7em;
}
.starscol h3 {
  font-size:1em;
}

.home div {
  transform: translateY(64px);
  margin: 4rem;
  max-width: 20rem;
}
.home-phone {  
  position: relative;
  width: 100%; 
  margin-top: 20%;
} 
.why div {  
  margin: 4rem;
  max-width: 100%;
}

.why-phone {
  width: 100%;
}

.welcome-phone {
  width: 20em;
  margin: 10%;
}

.download {
  text-align: center;
}

} 

@media only screen and (max-width: 480px) {
  section {
  flex-direction: column;
}
.starscol h1 {
  font-size:2.0em;
}
.starscol h2 {
  font-size:1.0em;
}
.starscol h3 {
  font-size:.7em;
}

.home div {
  transform: translateY(64px);
  margin: 4rem;
  max-width: 15rem;
}
.home-phone {  
  position: relative;
  width: 100%; 
  margin-top: 20%;
} 
  
} 